.div-one{
    height: 200px;
    width: 300px;
    border: 1px solid rebeccapurple;

}

.div{
    height: 200px;
    width: 300px;
    border: 5px solid red;
}

.js-divTwo{
    height: 200px;
    width: 300px;
    border: 5px dotted red;
}